<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>동물로 알아보는 지인과의 관계</title>
</head>
<body>
    <h1>친구는 당신을 어떤 동물처럼 생각할까요?</h1>
    <form action="/result_main">
    당신의 이름 : <input type="text" name="player_name2"/><br>
    생각을 알아보고 싶은 친구 : <input type="text" name="player_name1"/><br>
        <input type="submit" value="가즈아!!!">
    </form>
</body>
</html>