{% extends 'base.html' %}
{% block body_block %}
    <form>
        <div class="form-group">
          <label for="exampleInputEmail1">이메일</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">이메일 헬프 공간 뺄거면 뺌</small>
        </div>
        <a role="button" href ="/find_password_02" class="btn btn-primary">비밀번호 재설정 메일 전송</a>
      </form>
    <p>
{% endblock %}