{% extends 'question/base.html'%}
{% block body_block %}

<h1>{{question.title}}</h1><br>
<h3>작성자: {{question.user}}</h3>
<h2>{{question.answerA}} : {{A|length}} VS {{question.answerB}} : {{B|length}}</h2>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: {{A_per}}%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">{{A_per|floatformat}}</div>
  <div class="progress-bar bg-info" role="progressbar" style="width: {{B_per}}%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">{{B_per|floatformat}}</div>
</div>
    <form action="{% url 'question:comment_create' question.id %}" method="post">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <input type="submit" value="Submit"/>
    </form>
<br>
<a href="{% url 'question:update' id=question.id %}" class="btn btn-primary" role="button">수정</a> <a href="{% url 'question:delete' id=question.id %}" class="btn btn-primary" role="button">삭제</a>
<br><br>
<h3>댓글 <a href="{% url 'question:comment_create' question.id %}" class="btn btn-primary" role="button">댓글작성</a> </h3>
<p>선택 | 이유</p>
{% for comment in question.comment_set.all %}
<p>{{comment.answer}} | {{comment.content}} - <a href="{% url 'question:comment_delete' id=question.id comment_id=comment.id %}" class="btn btn-primary" role="button">삭제</a></p>
{% endfor %}

{% endblock %}