{% extends 'base.html' %}
{% block main_block %}
<form action = "/todos/create" method='post'>
  <div class="form-group">
    <label for="title">title</label>
    <input type="text" class="form-control" name = "title" id="title" placeholder="뷁">
  </div>
  <div class="form-group">
    <label for="content">content</label>
    <input type="text" class="form-control" name = "content" id="content" placeholder="뷁">
  </div>
  <div class="form-group">
    <label for="deadline">deadline</label>
    <input type="date" class="form-control" name = "deadline" id="deadline" placeholder="뷁">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}