{% extends 'base.html' %}
{% block body_block %}
    <h1>하고 싶은 말을 남겨보자</h1>
    <div class='row'>
    {% for post in posts %}
        <!--<h1>{{post.id}}</h1>-->
        <!--<h2>{{post.title}}</h2>-->
        <!--<h3>{{post.content}}</h3>-->
        <!--<h4>{{post.created_at}}</h4>-->
        <!--<a href='/posts/{{post.id}}'>글보기</a>-->
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
      <img class="card-img-top" src=".../100px180/" alt=" ">
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.content}}</p>
        <a href='/posts/{{post.id}}' class="btn btn-primary">상세정보</a>
        </div>
      </div>
    </div>
    {% endfor %}
        </div>

{% endblock %}
